input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }

  body{
    font-family: mulish;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }


  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 4px;
  }
